
.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#resety {
  content: url(./../img/reset.png);
  padding: 3px 0px 0px 0px;;
  width: 15px;
}
#heartempty {
  content: url(./../img/heartempty.png);
  padding: 3px 0px 0px 0px;;
  width: 15px;
}
#heartfully {
  content: url(./../img/heartfully.png);
  padding: 3px 0px 0px 0px;;
  width: 15px;
}
.state-remove-markers,
.state-add-markers{
  transition-duration: .5s;
  transform: scaleY(0);
  position: absolute;
  display: block;
  top: 0;
  width: 100%;}
.state-remove-markers{
  transform-origin: 50% 0; }
.state-add-markers{
  transform-origin: 50% 100%; }
.state-remove-markers.remove-markers-active{
  transform: scaleY(1); }
.state-add-markers.add-markers-active{
  transform: scaleY(1); }