.leaflet-clickable {
  width: 20px;
  height: 20px;
  /*transition: all 1s;*/
}
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  stroke: rgb(44,155,155);
  fill: black;
}
.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}
.brush .extent {
  stroke: coral;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}
/* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
.axis {
  font: 10px Helvetica;
}
.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}
#chiasm-container{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  max-height: 65%;
  min-height: 65%;
}
#additional-info{
  padding-top: 750px;
}
.chiasm-component-date-chart{
  position: static;
}
#main-container{
  position: absolute;
  width: 100%;
}
