.leaflet-clickable {
  width: 20px;
  height: 20px;
  /*transition: all 1s;*/
}
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  stroke: rgb(44,155,155);
  fill: black;
}
.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}
.brush .extent {
  stroke: coral;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}
/* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
.axis {
  font: 10px Helvetica;
}
.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}

.leaflet-container {
  height: 800px.;
}
#chiasm-container{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  max-height: 40%;
  min-height: 40%;
}
#additional-info{
  padding-top: 40%;
}
.chiasm-component-date-chart{
  position: static;
}
#main-container{
  position: absolute;
  width: 100%;
}
div.tinyBird{
  box-shadow: 0 8px 3px -1px rgba(0, 0, 0, 0.1);
  background-image: url(./../img/bird.png);
}

div.tinyBuffy{
  box-shadow: 0 8px 3px -1px rgba(0, 0, 0, 0.1);
  background-image: url(./../img/buffalo.png);
  background-size: cover;
  height: 25px;
}


/*div.tinyBuffy:nth-child(3n+1) {
  filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation: "movingRight" 1s ease-in;
  -webkit-animation-iteration-count: infinite;
 }

 div.tinyBuffy:nth-child(5n+1) {
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: linear;
   -webkit-animation: "movingRight" 1s ease-in;
   -webkit-animation-iteration-count: infinite;
  }
  */
@-webkit-keyframes movingRight {
  0% {
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
  50.9% {
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -webkit-animation-delay: 12s;
  }
  51% {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  99.9% {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -webkit-animation-delay: 12s;
  }
    animation-delay: 12s;
    100% { -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes movingLeft {
  0% {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }
  50.9% {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -webkit-animation-delay: 12s;
  }
  51% {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  99.9% {
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -webkit-animation-delay: 12s;
  }
    animation-delay: 12s;
    100% { -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}



/*
div.tinyBuffy:nth-child(5n) {
  -webkit-animation: movingRight 1s ease-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

div.tinyBuff:nth-child(7n) {
 -webkit-animation: movingRight 1s ease-in;
 -webkit-animation-duration: 3s;
 -webkit-animation-iteration-count: infinite;
 -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 -o-filter: grayscale(100%);
 filter: grayscale(100%);
}
*/
/*@-webkit-keyframes disco {
    <? for ($i=0;$i<=100;$i++)
    {echo create_animation_frame($i);
    $i++; // Add another value to $i. Remove line = 100 frames.
    }?>
}*/

.leaf-icon{
  height: 30px;
  background-image: url(./../img/leaf-green.png);
  border-style: solid;
  border-width: 1px;
  border-color: green;
/*  -webkit-animation: movingRight 1s ease-out;
  -webkit-animation-iteration-count: infinite;*/
}


#left-additional-info{
  max-width: 50%;

}